.item {
  display: flex;
  border-bottom: 1px solid #444;

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
  }

  &Element {
    flex: 1;
    padding: 20px 10px;
    text-align: left;
    min-width: 150px;
    overflow-wrap: break-word;

    @media screen and (max-width: 1024px) {
      font-size: 12px;
      padding: 10px 5px;
    }

    &Link {
      color: rgb(0, 174, 255);
    }
  }
}
